{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Game Room</title>
    <link rel="stylesheet" href="{% static 'css/room.css' %}" />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"
      crossorigin="anonymous"
    ></script>

    {{ room_name|json_script:"room-name" }}

    <textarea
      id="game-state-text"
      style="width: 320px; height: 100px"
    ></textarea>
    <hr />
    <canvas
      id="game-area-canvas"
      width="800"
      height="500"
      style="background-color: #2e3440"
    ></canvas>
    <canvas
      id="game-map-canvas"
      width="160"
      height="100"
      style="background-color: #3b4252"
    ></canvas>
    <div id="liveView" class="videoView">
      <div id="webcamBlock">
        <video id="webcam" autoplay playsinline></video>
        <canvas class="webcamCanvas" id="webcamCanvas"></canvas>
      </div>
      <button id="webcamButton">ENABLE WEBCAM</button>
    </div>

    <script type="module" src="{% static 'js/room.js' %}"></script>
  </body>
</html>
