{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Game Room</title>
    <link rel="stylesheet" href="{% static 'css/room.css' %}" />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js"
      crossorigin="anonymous"
    ></script>

    {{ room_name|json_script:"room-name" }}

    <div class="container">
      <div class="left-side">
        <div class="game-area-wrapper">
          <canvas id="game-area-canvas" width="800px" height="500px"></canvas>
          <img id="grid-png" src="{% static 'images/grid.png' %}"/ style="display: none;">
          <div class="webcam-and-map">
            <div id="liveView" class="videoView">
              <div id="webcamBlock">
                <video id="webcam" autoplay playsinline></video>
                <canvas class="webcamCanvas" id="webcamCanvas"></canvas>
              </div>
              <button id="webcamButton">ENABLE WEBCAM</button>
            </div>
            <canvas id="game-map-canvas" width="320px" height="200px"></canvas>
          </div>
        </div>
        <div id="game-state-text" class="game-state-text"></div>
      </div>
      <div class="right-side">
        <div id="chatroom"></div>
        <div class="form-container">
          <input type="text" id="draft" placeholder="Enter your message here">
          <button id="textsubmit">Send</button>
        </div>
        
      </div>
    </div>
    <audio id='laser-sound' src="{% static 'music/laser.mp3' %}">
    <script type="module" src="{% static 'js/room.js' %}"></script>
  </body>
</html>
